body {
  border: 0;
  padding: 0;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100vw;
  height: 100vh;
  background-color: #B1D4E0;
  color: black;
}

.App__header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #145DA0;
  color: white;
  font-family: 'Roboto';
  font-size: 34px;
  box-shadow: 0 10px 10px -10px rgba(0,0,0,.2);
}